Repository akashchouhan16/Data-Structures-And-Algorithms, pull requests merged in 2021-09, with the labels that each got.

#34 commit application based (#2)
  Implementations/eightPuzzleProblem.cpp
Labels: implementation based

#36 binary Search based #3
  Searching/.vscode/settings.json
  Searching/SearchInBitonic.cpp
  Searching/SearchInNearlySorted.cpp
  Searching/findMaxInBitonic.cpp
  Searching/findPeakElement.cpp
Labels: binary search

#37 binary Search based #4
  .gitignore
  Searching/allocateMinPagesOfBook.cpp
  Searching/minDifferenceElementInSortedArr.cpp
Labels: binary search

#38 Stack Based #1
  Stack/.vscode/settings.json
  Stack/NearestGreaterToLeft.cpp
  Stack/NearestSmallerToLeft.cpp
  Stack/NearestSmallerToRight.cpp
  Stack/stockSpanProblem.cpp
Labels: stacks & queues

#39 update README to include instructions
  README.md
Labels: documentation, enhancement, hacktoberfest-accepted

#40 init assets + guidelines
  CONTRIBUTING.md
  assets/hacktober-fest-2021.svg
  assets/powered-by-enthusiasm.svg
Labels: documentation, enhancement

#41 init dp on strings
  DynamicProgramming/wildCardPatternMatch.cpp
  DynamicProgramming/wordBreak_DP.cpp
Labels: dynamic programming, hacktoberfest-accepted

#42 Created TrappedRainWater.cpp
  Arrays/TrappedRainWater.cpp
Labels: hacktoberfest-accepted, arrays

#44 init Greedy maxSumEqualIn3Stacks
  Greedy/maxSumEqualInThreeStack.cpp
Labels: greedy, hacktoberfest-accepted
