Repository akashchouhan16/Data-Structures-And-Algorithms, pull requests merged in 2021-10, with the labels that each got.

#47 Add Dijkstra’s shortest path algorithm
  Graphs/Dijkstra’s shortest path algorithm.cpp
Labels: hacktoberfest-accepted, graphs

#48 Create Find the row with maximum number of 1s.cpp
  Arrays/Find the row with maximum number of 1s.cpp
  Graphs/Detect Cycle in a Directed Graph.cpp
  Graphs/Detect cycle in an undirected graph.cpp
Labels: hacktoberfest-accepted, arrays, graphs

#49 add length of the longest valid substring
  Strings/Check for Balanced Brackets in an expression.cpp
  Strings/Length of the longest valid substring.cpp
Labels: hacktoberfest-accepted, string based

#52 Add dll in c++
  Linkedlist/Doubly Linked List.cpp
Labels: hacktoberfest-accepted

#54 add arrange array to form the biggest number
  Greedy/Arrange given numbers to form the biggest number.cpp
Labels: hacktoberfest-accepted, arrays

#55 CreateLongestBand.cpp
  Arrays/LongestBand.cpp
Labels: hacktoberfest-accepted, arrays

#56 Create HighestMountain.cpp
  Arrays/HighestMountain.cpp
Labels: hacktoberfest-accepted, arrays

#60 Create LittleAlawnPuzzle.cpp
  Graphs/LittleAlawnPuzzle.cpp
Labels: hacktoberfest-accepted, graphs

#61 Create BottomView.cpp
  Binary Tree/BottomView.cpp
Labels: hacktoberfest-accepted

#59 Cycle_sort
  SortingAlgorithms/cycle_sort.cpp
Labels: hacktoberfest-accepted

#62 Create MaxElementinK.cpp
  Queue/MaxElementinK.cpp
Labels: stacks & queues, hacktoberfest-accepted

#63 Create DoubleEndedStrings.cpp
  Strings/DoubleEndedStrings.cpp
Labels: hacktoberfest-accepted, string based

#51 Merge two BSTs
  Binary Search Tree/Merge_Two_BST.cpp
Labels: hacktoberfest-accepted

#69 FindArray
  Arrays/FindArray.cpp
  Binary Tree/bottomview.cpp
  Strings/DoubleEndedStrings.cpp
Labels: hacktoberfest-accepted, arrays, string based

#68 graph question with c++ solution
  Graphs/Find Center of Star Graph.cpp
  Graphs/Keys and Rooms.cpp
Labels: hacktoberfest-accepted, graphs

#70 Interleaving strings
  Strings/InterleavingStrings.cpp
Labels: hacktoberfest-accepted, string based

#71 Create MinimumJumpsToReachAtEnd.cpp
  DynamicProgramming/MinimumJumpsToReachAtEnd.cpp
Labels: dynamic programming, hacktoberfest-accepted

#72 Create HemoseShopping.cpp
  Arrays/HemoseShopping.cpp
Labels: hacktoberfest-accepted, arrays

#73 Create GamerHemose.cpp
  Greedy/GamerHemose.cpp
Labels: greedy, hacktoberfest-accepted

#75 Create Even-OddGame.cpp
  Greedy/Even-OddGame.cpp
Labels: greedy, hacktoberfest-accepted

#74 Create StrangeBirthdayParty.cpp
  Greedy/StrangeBirthdayParty.cpp
Labels: greedy, hacktoberfest-accepted

#77 added circular tour problem .
  Queue/circulartour.cpp
Labels: stacks & queues, hacktoberfest-accepted

#79 Longest Palindromic Substring
  DynamicProgramming/lps.c++
Labels: dynamic programming, hacktoberfest-accepted

#80 A program that counts number of words in a string.
  Strings/countnoofwords.cpp
Labels: hacktoberfest-accepted, string based

#93 Implementation of FCFS Algorithm in C
  CPU Scheduling Algorithms/fcfs.c
Labels: hacktoberfest-accepted, os

#94 Added Evaluate_Postfix.cpp
  Stack/Evaluate_Postfix.cpp
Labels: stacks & queues, hacktoberfest-accepted
